hospital.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:simpleType name="GenderType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Male"/>
            <xs:enumeration value="Female"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="PhoneType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{10}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="PatientType">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="gender" type="GenderType"/>
            <xs:element name="dob" type="xs:date"/>
            <xs:element name="phone" type="PhoneType"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:integer" use="required"/>
    </xs:complexType>

    <xs:complexType name="DoctorType">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="specialty" type="xs:string"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:integer" use="required"/>
    </xs:complexType>

    <xs:complexType name="BillingType">
        <xs:sequence>
            <xs:element name="consultationFee" type="xs:decimal"/>
            <xs:element name="medicationCost" type="xs:decimal"/>
            <xs:element name="totalCost" type="xs:decimal"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="PrescriptionType">
        <xs:sequence>
            <xs:element name="medicine" type="xs:string" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="RecordType">
        <xs:sequence>
            <xs:element name="patientId" type="xs:integer"/>
            <xs:element name="doctorId" type="xs:integer"/>
            <xs:element name="visitDate" type="xs:date"/>
            <xs:element name="diagnosis" type="xs:string"/>
            <xs:element name="treatment" type="xs:string"/>
            <xs:element name="prescription" type="PrescriptionType"/>
            <xs:element name="billing" type="BillingType"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:integer" use="required"/>
    </xs:complexType>

    <xs:element name="hospital">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="patients">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="patient" type="PatientType" minOccurs="3" maxOccurs="unbounded"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="doctors">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="doctor" type="DoctorType" minOccurs="1" maxOccurs="unbounded"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="records">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="record" type="RecordType" minOccurs="6" maxOccurs="unbounded"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>

        <xs:unique name="uniquePatientId">
            <xs:selector xpath="patients/patient"/>
            <xs:field xpath="@id"/>
        </xs:unique>

        <xs:unique name="uniqueDoctorId">
            <xs:selector xpath="doctors/doctor"/>
            <xs:field xpath="@id"/>
        </xs:unique>

        <xs:unique name="uniqueRecordId">
            <xs:selector xpath="records/record"/>
            <xs:field xpath="@id"/>
        </xs:unique>

        <xs:key name="patientKey">
            <xs:selector xpath="patients/patient"/>
            <xs:field xpath="@id"/>
        </xs:key>

        <xs:key name="doctorKey">
            <xs:selector xpath="doctors/doctor"/>
            <xs:field xpath="@id"/>
        </xs:key>

        <xs:keyref name="recordPatientRef" refer="patientKey">
            <xs:selector xpath="records/record"/>
            <xs:field xpath="patientId"/>
        </xs:keyref>

        <xs:keyref name="recordDoctorRef" refer="doctorKey">
            <xs:selector xpath="records/record"/>
            <xs:field xpath="doctorId"/>
        </xs:keyref>
    </xs:element>
</xs:schema>
