hotel.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="hotel">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="info">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="name" type="xs:string"/>
                            <xs:element name="location" type="xs:string"/>
                            <xs:element name="rating">
                                <xs:simpleType>
                                    <xs:restriction base="xs:integer">
                                        <xs:minInclusive value="1"/>
                                        <xs:maxInclusive value="5"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="rooms">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="room" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="id" type="xs:string"/>
                                        <xs:element name="type" type="xs:string"/>
                                        <xs:element name="price" type="xs:decimal"/>
                                        <xs:element name="availability" type="xs:boolean"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="guests">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="guest" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="id" type="xs:string"/>
                                        <xs:element name="name" type="xs:string"/>
                                        <xs:element name="roomId" type="xs:string"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>

        <xs:key name="roomKey">
            <xs:selector xpath="rooms/room"/>
            <xs:field xpath="id"/>
        </xs:key>

        <xs:key name="guestKey">
            <xs:selector xpath="guests/guest"/>
            <xs:field xpath="id"/>
        </xs:key>

        <xs:keyref name="guestRoomReference" refer="roomKey">
            <xs:selector xpath="guests/guest"/>
            <xs:field xpath="roomId"/>
        </xs:keyref>
    </xs:element>
</xs:schema>
