students.dtd

<!ELEMENT school (students, courses, grades)>


<!ELEMENT students (student+)>
<!ELEMENT student (name, age)>
<!ATTLIST student
    id ID #REQUIRED
    courseId IDREF #REQUIRED>

<!ELEMENT courses (course+)>
<!ELEMENT course (name, instructor)>
<!ATTLIST course
    id ID #REQUIRED>

<!ELEMENT grades (grade+)>
<!ELEMENT grade (score)>
<!ATTLIST grade
    studentId IDREF #REQUIRED
    courseId IDREF #REQUIRED>

<!ELEMENT name (#PCDATA)>
<!ELEMENT age (#PCDATA)>
<!ELEMENT instructor (#PCDATA)>
<!ELEMENT score (#PCDATA)>
